.viewButton button {
    margin-left: 28rem;
    width: 40%;
}

.mainForm {
    margin-left: 29%;
    margin-top: 2rem;
    background-color: rgb(127, 127, 149);
    width: 40%;
    height: 500px;
    padding: 1rem 1rem 1rem 1rem;
}

.mainForm label {
    color: aliceblue;
}

.mainForm form {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 10px;
    border-style: solid;
}

.mainForm form :hover {
    color: blue;
}

.submitButton {
    margin-top: 1rem;
}

.rs-picker-default .rs-picker-toggle.rs-btn {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 282px;
}

/* picked date align */
.rs-picker-default .rs-picker-toggle {
    position: relative;
    z-index: 5;
    padding-right: 67px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    color: #575757;
    border: 1px solid #e5e5ea;
    padding-left: 44px;
}

/* calander align */
.rs-picker-toggle-caret {
    display: inline-block;
    margin-right: 240px;
    position: absolute;
    top: 8px;
    right: 12px;
    font-weight: normal;
    color: #8e8e93;
}

/* ok button style */
.rs-picker-toolbar-right-btn-ok {
    text-align: center;
    cursor: pointer;
    outline: 0;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 30px;
    color: #fff;
    background-color: #3498ff;
    width: 100px;
}

/* range style */
.rs-picker-menu .rs-calendar .rs-calendar-table-cell-content {
    padding-left: 0;
    padding-right: 0;
    border-radius: 21px;
    display: inline-block;
}

.hotelDetails {
    margin-top: 3rem;
    margin-left: 3rem;
    width: 500px;
    border: 1px solid black;
}

.hotelDetails img {
    width: 500px;
    height: 300px;
    padding: 1rem;
}

.hotelDetails h2 {
    text-align: center;
    background-color: rgb(188, 188, 188);
}

.map {
    border: 2px solid black;
    padding: 1rem;
    margin: 1rem 1rem 2rem 1rem;
}

.mainBody {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    flex-basis: 30% 20%;
}